.form {
  display: grid;
  grid-template-columns: 4fr 1fr auto;
  margin-top: 30px;
  background-color: white;
  border: 1px solid black;
}

.form-text fieldset {
  border: 1px solid black;
}

.form-author fieldset {
  border: 1px solid black;
}

.MuiTextField-root.form-author {
  margin: 0 10px;
}

.MuiButton-root.form-send-btn {
  border-radius: 10px;
}
